/* --------- CSS-demo ---------- */

/* ----- Color Scheme ---- 
Main Color - #DB4756
*/


/*  --------------- Box Sizing -----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Responsive Images -----------------  */
img{
  max-width:100%;
}


/*  --------------- Utility Classes -----------------  */

.container{
  width: 80vw;
  max-width:960px;
  margin:40px auto;
}

/*-------- Global style -------*/

body{
  font-family: "Nunito Sans", sans-serif;
  background-color:#ffffff;
  margin:0;
    /*
  background-image: url("https://assets.codepen.io/7248/grey-kitten_1.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  */
}

main{

}

header.primary{
  background-color:rgb(140, 210, 233);
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  text-shadow:2px 2px #000000;
  text-align: center;
  /*long-form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  /*single  value short hand*/
  padding: 40px;
  /*Top, Right, Bottom, Left*/
  padding: 20px 40px 20px 40px;
  /*Two Value Top/Bottom / L/R*/
  padding: 20px 40px;
}

header.primary h1{
  font-size:2.4rem;
  margin: 20px 0;
}

header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  color:#ffffff;
  font-size:1.3rem;
  margin:0;
}

header.primary nav{
  max-width:960px;
  margin:auto;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:10px 0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul li a{
  color:#ffffff;
  text-decoration:none;
  border:1px solid #8b8b8b;
  padding:7.5px 10px;
  background-color: rgba(37, 37, 37, 0.4);
  border-radius:20px;
  transition:.4s;
}

header.primary nav ul li a:hover{
  background-color: rgba(37, 37, 37, 0.8);
}

#content{
  line-height:1.25;
}

#content h2{
  color:rgb(140, 210, 233);
  border-bottom: 1px dotted darkgrey;
}


#blog{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  gap:2rem;
}

#blog article.post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding:10px;
  border-radius:4px;
  font-size:.8rem;
  transition:.4s;
}

#blog article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

#blog figure{
  margin:0;
}

#blog figcaption, time.post-date{
  text-transform:uppercase;
  color: #c0c0c0;
  font-size: 0.6rem;
  text-align: center;
}

#blog article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);

}

#blog .post a{
  color:rgb(140, 210, 233);
}

aside[role="complementary"]{
  background-color: #172635;
  color:#ffffff;
  padding:40px 0;  
  }

  aside .container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:40px;
  }
  
  aside article.widget a{
    color:#ffffff;
  }
  
  aside article.widget a:last-of-type{
    display:block;
    margin-top:20px;
    text-align:right;
  }
  
  aside article.widget footer{
    display:none;
  }

#colophon{
  background-color: #3b638b;
  padding:1px;
  color:#ffffff;
  font-size:1.2rem;
  text-align:center;
}


/* --------- Media Queries --------- */

@media screen and (max-width: 560px){
  header.primary nav ul{
    flex-direction:column;
    gap:10px;
    max-width:200px;
    margin:0px auto;
  }

  header.primary nav a{
    display:block;
  }  


  #blog{
    justify-content:space-around;
    flex-direction:column;
    gap:2rem;
  }


  aside .container{
    flex-direction:column;
  }
}

