body{
    display:grid;
    grid-template-columns: 15% 85%;
    margin:0;
    background-image: url('/final-v1/assets/img/journpage.webp');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
    
  main{
    padding:30px;
  }
  header.primary{
      padding: 0px 20px 0px 20px;
      box-sizing:border-box;
      background-image: url('/final-v1/assets/img/leather.jpg');
      background-color: black;
  }

  header.primary h1 a{
      color:white;
      font-size:1.5rem;
  }
  
  header.primary nav ul {
    list-style: none;
    padding-left:0px;
  }

  header.primary nav ul li{
    width:100%;
    text-align:center;
  }
  
  header.primary nav ul li a{
    display:block;
    color:#ffffff;
    text-decoration:none;
    transition:.4s;
    padding-top:10px;
    padding-bottom:10px;
  }
  
  header.primary nav ul li a:hover{
    background-color: rgb(221, 221, 221);
    color:black;
  }
  
  section.container{
    font-size:1.3rem;
    text-align: center;
  }

  section.container h2{
    text-decoration: underline;
  }
  
  aside{
  }
  
  #colophon{
      color:black;
  }